# ------------------------------
# Operating System
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Python
# ------------------------------
.venv/
venv/
env/
ENV/

__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/

# ------------------------------
# Environment Files
# ------------------------------
.env
.env.*

# ------------------------------
# IDEs
# ------------------------------
.idea/
.vscode/

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# Build Artifacts
# ------------------------------
dist/
build/
*.egg-info/

# ------------------------------
# Terraform
# ------------------------------
*.tfstate
*.tfstate.*
.terraform/

# ------------------------------
# Kubernetes
# ------------------------------
*.kubeconfig

# ------------------------------
# Miscellaneous
# ------------------------------
.cache/